<div class="card-columns">
  <% @sightings.each do |sighting| %>
      <div class="card text-center bg-primary text-white">
        <%=image_tag picture_sighting_path(sighting.id), class: 'card-img-top'%>
        <div class="card-img-overlay map-overlay">
          <%=static_map_image sighting.geoLatitude, sighting.geoLongitude, class: 'w-100'%>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= sighting.species.name %></h4>
          <h6 class="card-subtitle"><%=sighting.species.genus.full_classification%></h6>
        </div>
        <div class="card-footer">
          <small><%=l sighting.created_at, format: :long%></small>
        </div>
      </div>
  <% end %>
</div>