<div class="card w-lg-50 ml-auto mr-auto border-primary standalone">
  <div class="card-header bg-primary text-white">
    <%=image_tag 'thylacine.svg', class: 'd-inline-block align-text-bottom'%>
    <div class="brand d-inline-block">Thylacine</div>
    Login
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me, class: 'custom-control custom-checkbox' do %>
            <%= f.check_box :remember_me, class: 'custom-control-input', id: 'remember_me' %>
            <label class="custom-control-label" for="remember_me"><%=t :remember_me, scope: 'activerecord.attributes.user'%></label>
          <% end %>
      <% end -%>
      <div class="row d-flex justify-content-around mb-2">
        <%= f.submit (t '.sign_in'), class: 'btn btn-primary' %>
        <%= link_to (t :cancel), root_path,  class: 'btn btn-danger'%>
      </div>
    <% end %>

    <hr/>

    <%= render "devise/shared/social_login" %>

    <div class="row text-center small justify-content-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>