<p class="lead">This site is a showcase of my work, and a sandbox to test out features.
  It is not intended for the general public, but it's meant to follow the same quality standards.</p>

<p>It was developed using <%= about_link :rails %> with <%= about_link :postgresql %> as the database,
  using the gems <%= about_link :devise %>, <%= about_link :cancancan %>, <%= about_link :exifr %> and <%= about_link :rest_client %>.</p>
<p>The frontend uses <%= about_link :bootstrap %>, <%= about_link :jquery %>, <%= about_link :jqueryui %>,
  <%= about_link :google_maps %> and a <abbr title="Using colors for cluster grouping instead of cluster weight">modified</abbr>
  version of <%= about_link :markerclusterer %>.</p>
<p>The taxonomy information is provided by <%= about_link :gbif %>.</p>
<p>The site is hosted on <%= about_link :heroku %>.</p>

