<p class="lead">Este sitio es una muestra de mi trabajo, y un sandbox para probar nuevas funcionalidades.
  No esta pensado para el público general, pero el objetivo es seguir los mismos estándares de calidad.</p>
<p>Fue desarrollado usando <%= about_link :rails %> con <%= about_link :postgresql %> como base de datos,
  usando las gems <%= about_link :devise %>, <%= about_link :cancancan %>, <%= about_link :omniauth %> (y las gems especificas de Google, LinkedIn y Facebook),
  <%= about_link :exifr %>, <%= about_link :rest_client %> y <%=about_link :rspec%>.</p>
<p>El frontend usa <%= about_link :bootstrap %>, <%= about_link :jquery %>, <%= about_link :jqueryui %>,
  <%= about_link :google_maps %> y una versión
  <abbr title="Usando colores para agrupar clusters en lugar de para el peso del cluster">modificada</abbr>
  de <%= about_link :markerclusterer %>.</p>
<p>La información de taxonomía es provista por <%= about_link :gbif %>.</p>
<p>El sitio esta alojado en <%= about_link :heroku %>.</p>